.food{
  background: url("../images/bgrFood.png") center/cover no-repeat;
  padding: 71px 0 71px;
  &__row{
    width: 578px;
    height: 272px;
    border: 3px solid #F2B705;
    text-align: center;
  }
  &__title{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.035em;
    color: #F28705;
    margin: 40px 0 24px;
  }
  &__text{
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.035em;
    color: #C1D4D9;
  }
  &__btn{
    width: 544px;
    height: 55.79px;
    background: #F28705;
    border: 1px solid #F28705;
    border-radius: 15px 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    font-variant: small-caps;
    cursor: pointer;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin: 89px 0 12px;
  }
  &__button{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}