.popular{
  padding: 20px 0 90px;
  &__content{
    text-align: center;
  }
  &__title{
    font-weight: 600;
    font-size: 60px;
    line-height: 76px;
    text-transform: uppercase;
    color: #618C03;
  }
  &__line{
    width: 65%;
    border-bottom: 2px solid #618C03;
    margin-bottom: 60px;
    margin-left: 270px;
  }
  &__span{
    margin-top: 50px;
  }
  &__card{
    &-button{
      display: flex;
      align-items: flex-start;

    }
    &-text{
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: -0.035em;
      color: #618C03;
      margin-top: 25px;
    }
  }
  &__row{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
}